body {
    margin: 0;
    padding-bottom: 399px; /* Adjust this value to match the height of your footer */
  }
  .footer {
    margin: auto;
    color: #484848;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 399px; /* Adjust this value as per your footer height */
    background-color: #b8b5ab;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
  }
  .footer-sections {
    display: flex;
    justify-content: center;
  }
  .footer-content {
    width: 22%;
  }  
  .footer-content ul{
    list-style-type: none;
    text-align: center;
    cursor: pointer;
  }
  .footer-content ul li{
    padding: 7px;
  }