header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #f2ebdf;
    height: 68px;
    border-bottom: 1px #c2c2c2 solid;
}
.menu ul{
    padding: 10px;
    height: 71%;
    width: 470px;
    list-style: none;
    display: flex;
    gap: 25px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
}
.logo {
    margin-right: 20%;
    width: 142px;
    height: 60px;
}
.logo img{
    padding-top: 20px;
    width: 100%;
}
header input {
    margin-left: 35px;
    margin-top: 15px;
    height: 35px;
    width: 50%;
    font-size: larger;
    padding-left: 10px;
}
header button {
    height: 37px;
    margin-top: 15px;
    width: 84px;
    background-color: #f2ebdf;
    color: #1b1b1b;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
header button:hover{
    background-color: #5f5e5e;
    color: #f2ebdf;
    border: #f2ebdf;
}
.menu ul li, li a, button a{
    text-decoration: none;
    color: #1b1b1b;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}
.menu ul li:hover{
    border-bottom: 3px solid #5f5e5e;
    font-weight: bold;
    height: 40%;
}

